@import './fonts.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #E5E5E5;
    font-family: 'Rubik';
}

.header__aside {
    width: 100px;
    height: 100vh;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: .5s;
    padding-top: 30px;
    padding-bottom: 30px;
    overflow: hidden;
    position: fixed;
    left: 0;
    top: 0;
}

.header__aside:hover {
    width: 234px;
}

.logo {
    margin-left: 20px;
    font-size: 50px;
    color: #2A86B1;
}

.header__list {
    margin-left: 30px;
    list-style: none;
}

.header__link {
    display: flex;
    align-items: center;
    margin-bottom: 55px;
    color: #939393;
    font-weight: 400;
    font-size: 18px;
    text-decoration: none;
    transition: .2s;
}

.header__link:hover {
    color: #2A86B1;
}

.header__icon>i {
    font-size: 40px;
    width: 40px;
    margin-right: 30px;
    text-align: center;
}

.header__ava {
    margin-left: 15px;
}

/* header tugadi */
/* main coshlandi */

.container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.welcome {
    height: 500px;
    background: white;
    margin-top: 30px;
    background-image: url(../img/bg.png);
    border-radius: 14px;
    padding-left: 62px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.welcome__title {
    font-size: 50px;
    color: #464748;
    width: 332px;
}

.welcome__text {
    font-weight: 400;
    color: #696868;
    font-size: 16px;
    width: 100%;
    text-align: justify;
    margin-top: 25px;
    margin-bottom: 25px;
}

.button {
    width: 211px;
    height: 33px;
    background: #3FA5D5;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    font-weight: 400;
    font-size: 16px;
    transition: 0.3s;
}

.button:hover {
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
    text-shadow: 0 0 10px white;
}

.components {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.components__item {
    width: 255px;
    height: 340px;
    background: white;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.components__title {
    font-size: 20px;
    color: #2A86B1;
}

.components__item>i {
    font-size: 100px;
    color: #2A86B1;
}

.info {
    margin-top: 48px;
    display: flex;
    justify-content: space-between;
}

.info__left {
    width: 100%;
    margin-right: 30px;
}

.info__title {
    font-size: 20px;
    color: #686868;
    margin-left: 18px;
    margin-bottom: 22px;
}

.info__items{
    flex-wrap: wrap;
}

.info__text {
    background: white;
    border-radius: 8px;
    padding: 15px;
    font-weight: 400;
    color: #545454;
    font-size: 16px;
    line-height: 19px;
    text-align: justify;
}

.info__text_size{
    margin-top: 15px;
    margin-bottom: 15px;
}

.info__item{
    width: 255px;
    height: 94px;
    background: white;
    border-radius: 8px;
    display: flex;
    align-items: center;
    padding: 15px;
    margin-bottom: 15px;
}

.info__ref{
    margin-left: 15px;
}

.info__ref-title{
    font-weight: 400;
    font-size: 17px;
    color: #323232;
}

.info__ref-text{
    font-weight: 300;
    font-size: 14px;
    line-height: 13px;
    margin-top: 5px;
}

/* main finished */
/* footer starts */

.footer{
    height: 140px;
    background: #3FA5D5;
    margin-top: 44px;
    display: flex;
    align-items: center;
}

.footer__content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__title{
    color: white;
    font-size: 50px;
}

.footer__contact{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.footer__link{
    color: white;
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
}
